# Airbnb Paris
## by Mathieu Rella

# I. Business Understanding

We will be exploring Airbnb paris data to try to find answers to some questions like :

- Where is it good to rent on airbnb in paris ?
- Which season is the more profitable for the host ?
- What do really believe the guest of paris listing ?
- Can we predict the price of a listing ?

In [2]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import plotly.express as px
import qgrid
import plotly.graph_objects as go

import plotly
plotly.__version__
import json
from plotly.offline import download_plotlyjs, init_notebook_mode,  iplot
init_notebook_mode(connected=True)

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
# Sklearn ML Modules
from sklearn.preprocessing import MultiLabelBinarizer,LabelEncoder,OneHotEncoder,StandardScaler 
import sklearn.metrics as mtr
import math

%matplotlib inline

# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

In [3]:
# load all the dataset into a pandas dataframe

df_list = pd.read_csv('Data/listings.csv')
df_rev = pd.read_csv('Data/Reviews.csv')
df_cal = pd.read_csv('Data/calendar.csv')

# IV. Modelling

## Predicting Price

In [144]:
# Data type of price column is object.
print("- The price datatype is an", df_list['price'].dtypes, ".")
print("- As seen before the price column have",df_list['price'].isnull().sum(), "missing value, wich means we do not need to impute certain row. Because we want it as a float we need to convert th datatypes as a float and replace special characters as $ signs.")
# datatypes is converted to float
df_list['price'] = df_list['price'].replace(r'[$,%]', '', regex = True).astype(float)
print("- The new price datatype is a",df_list['price'].dtypes)

- The price datatype is an object .
- As seen before the price column have 0 missing value, wich means we do not need to impute certain row. Because we want it as a float we need to convert th datatypes as a float and replace special characters as $ signs.
- The new price datatype is a float64

Now we need to list our columns of interest, the one that we believe impact the most the price of a listing

In [145]:
df_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67565 entries, 0 to 67564
Data columns (total 74 columns):
id                                              67565 non-null int64
listing_url                                     67565 non-null object
scrape_id                                       67565 non-null int64
last_scraped                                    67565 non-null object
name                                            67501 non-null object
description                                     66191 non-null object
neighborhood_overview                           41098 non-null object
picture_url                                     67564 non-null object
host_id                                         67565 non-null int64
host_url                                        67565 non-null object
host_name                                       67555 non-null object
host_since                                      67555 non-null object
host_location                                   67410 non-null object
host_about                                      35071 non-null object
host_response_time                              27781 non-null object
host_response_rate                              27781 non-null object
host_acceptance_rate                            42439 non-null object
host_is_superhost                               67555 non-null object
host_thumbnail_url                              67555 non-null object
host_picture_url                                67555 non-null object
host_neighbourhood                              53261 non-null object
host_listings_count                             67555 non-null float64
host_total_listings_count                       67555 non-null float64
host_verifications                              67565 non-null object
host_has_profile_pic                            67555 non-null object
host_identity_verified                          67555 non-null object
neighbourhood                                   41098 non-null object
neighbourhood_cleansed                          67565 non-null object
neighbourhood_group_cleansed                    0 non-null float64
latitude                                        67565 non-null float64
longitude                                       67565 non-null float64
property_type                                   67565 non-null object
room_type                                       67565 non-null object
accommodates                                    67565 non-null int64
bathrooms                                       0 non-null float64
bathrooms_text                                  67484 non-null object
bedrooms                                        53664 non-null float64
beds                                            66997 non-null float64
amenities                                       67565 non-null object
price                                           67565 non-null float64
minimum_nights                                  67565 non-null int64
maximum_nights                                  67565 non-null int64
minimum_minimum_nights                          67563 non-null float64
maximum_minimum_nights                          67563 non-null float64
minimum_maximum_nights                          67563 non-null float64
maximum_maximum_nights                          67563 non-null float64
minimum_nights_avg_ntm                          67563 non-null float64
maximum_nights_avg_ntm                          67563 non-null float64
calendar_updated                                0 non-null float64
has_availability                                67565 non-null object
availability_30                                 67565 non-null int64
availability_60                                 67565 non-null int64
availability_90                                 67565 non-null int64
availability_365                                67565 non-null int64
calendar_last_scraped                           67565 non-null object
number_of_reviews                               67565 non-null int64
number_of_reviews_ltm                           67565 non-null int64
number_of_reviews_l30d                          67565 non-null int64
first_review                                    52242 non-null object
last_review                                     52242 non-null object
review_scores_rating                            51010 non-null float64
review_scores_accuracy                          50961 non-null float64
review_scores_cleanliness                       50971 non-null float64
review_scores_checkin                           50945 non-null float64
review_scores_communication                     50966 non-null float64
review_scores_location                          50946 non-null float64
review_scores_value                             50946 non-null float64
license                                         22349 non-null object
instant_bookable                                67565 non-null object
calculated_host_listings_count                  67565 non-null int64
calculated_host_listings_count_entire_homes     67565 non-null int64
calculated_host_listings_count_private_rooms    67565 non-null int64
calculated_host_listings_count_shared_rooms     67565 non-null int64
reviews_per_month                               52242 non-null float64
dtypes: float64(24), int64(17), object(33)
memory usage: 38.1+ MB

In [146]:
# I pass all the interesting feature into an array
interest_col = ['price','number_of_reviews','reviews_per_month',
                'review_scores_cleanliness','review_scores_checkin',
                'review_scores_communication','review_scores_location',
                'review_scores_value','bathrooms_text','bedrooms','beds',
                'availability_30','availability_60','availability_90',
                'review_scores_accuracy','availability_365','review_scores_rating',
                'host_is_superhost','host_identity_verified',
                'host_listings_count','host_has_profile_pic']

# Delete all the features except the one of interest
list_modeling = df_list.copy()
list_modeling.drop(list_modeling.columns.difference(interest_col), 1, inplace=True)
list_modeling

,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,bathrooms_text,bedrooms,beds,price,availability_30,availability_60,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,f,2.0,t,t,2 baths,2.0,2.0,125.00,0,0,...,285,1,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.05
1,f,1.0,t,f,1 bath,NaN,1.0,60.00,22,52,...,357,9,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.20
2,f,9.0,t,f,1 bath,NaN,2.0,89.00,3,33,...,63,25,90.0,9.0,10.0,9.0,9.0,10.0,9.0,0.19
3,f,9.0,t,f,1 bath,1.0,2.0,102.68,0,11,...,41,22,96.0,10.0,10.0,10.0,10.0,10.0,10.0,0.21
4,f,1.0,t,t,1 bath,NaN,1.0,60.00,24,54,...,84,225,90.0,9.0,9.0,9.0,10.0,10.0,8.0,1.65
5,t,4.0,t,t,1 bath,2.0,2.0,90.00,0,19,...,288,269,94.0,10.0,9.0,10.0,10.0,10.0,10.0,2.34
6,f,0.0,t,t,1 bath,1.0,1.0,130.00,15,45,...,350,6,96.0,10.0,10.0,10.0,10.0,10.0,10.0,0.05
7,f,3.0,t,t,1 bath,1.0,1.0,75.00,0,0,...,196,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,t,1.0,t,t,1 bath,1.0,1.0,75.00,27,56,...,343,25,98.0,10.0,10.0,10.0,10.0,10.0,10.0,0.27
9,t,4.0,t,t,1 bath,NaN,2.0,80.00,0,0,...,13,47,97.0,10.0,10.0,10.0,10.0,9.0,9.0,0.36
10,t,4.0,t,t,1 bath,NaN,1.0,75.00,0,0,...,0,16,99.0,10.0,10.0,10.0,10.0,9.0,10.0,0.14
11,f,1.0,t,t,1 bath,1.0,2.0,90.00,0,0,...,165,40,88.0,9.0,9.0,10.0,10.0,10.0,9.0,0.31
12,f,2.0,t,t,1 private bath,1.0,3.0,130.00,12,42,...,347,147,92.0,10.0,9.0,10.0,10.0,9.0,9.0,2.32
13,f,1.0,t,t,1 bath,1.0,1.0,100.00,0,0,...,103,16,96.0,10.0,10.0,9.0,10.0,10.0,10.0,0.31
14,t,1.0,t,t,1 bath,1.0,1.0,110.00,29,59,...,364,85,98.0,10.0,10.0,10.0,10.0,10.0,10.0,0.87
15,t,1.0,t,t,1 bath,NaN,2.0,88.00,1,1,...,1,334,90.0,9.0,9.0,10.0,10.0,10.0,10.0,2.79
16,f,2.0,t,f,1 bath,1.0,1.0,60.00,0,0,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.01
17,t,0.0,t,t,1 bath,2.0,2.0,139.00,0,0,...,0,22,100.0,10.0,10.0,10.0,10.0,10.0,10.0,0.76
18,f,1.0,t,f,1 bath,1.0,1.0,90.00,0,11,...,131,11,88.0,9.0,9.0,9.0,9.0,10.0,9.0,0.12
19,f,2.0,t,t,1 bath,NaN,0.0,75.00,0,0,...,255,200,91.0,10.0,9.0,10.0,10.0,10.0,9.0,1.71
20,f,0.0,t,t,1 bath,1.0,1.0,99.00,0,0,...,0,75,97.0,10.0,10.0,10.0,10.0,10.0,10.0,0.58
21,f,2.0,t,t,1 bath,1.0,3.0,70.00,0,0,...,0,30,90.0,9.0,8.0,10.0,10.0,9.0,9.0,0.40
22,f,0.0,t,t,1 bath,1.0,1.0,61.00,1,1,...,1,364,92.0,10.0,9.0,10.0,10.0,10.0,9.0,2.85
23,t,7.0,t,t,1.5 baths,1.0,2.0,64.00,30,60,...,350,86,98.0,9.0,9.0,9.0,9.0,10.0,9.0,0.67
24,f,1.0,t,t,2 baths,1.0,4.0,45.00,2,2,...,299,7,75.0,9.0,6.0,9.0,9.0,10.0,10.0,0.10
25,f,1.0,t,t,1 bath,1.0,1.0,150.00,0,0,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04
26,t,2.0,t,t,1 bath,2.0,2.0,110.00,0,11,...,316,3,80.0,10.0,10.0,10.0,10.0,10.0,8.0,0.02
27,t,2.0,t,t,1.5 baths,1.0,1.0,65.00,29,59,...,364,126,95.0,10.0,10.0,10.0,10.0,10.0,10.0,1.01
28,f,1.0,t,t,1.5 baths,1.0,1.0,250.00,1,1,...,1,162,93.0,10.0,9.0,10.0,10.0,10.0,9.0,1.25
29,f,1.0,t,t,1 bath,1.0,1.0,85.00,30,60,...,365,32,80.0,8.0,8.0,9.0,9.0,9.0,8.0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67535,f,0.0,t,t,1 private bath,1.0,2.0,149.00,0,0,...,224,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67536,f,0.0,t,t,1 private bath,1.0,2.0,157.00,0,0,...,224,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67537,f,0.0,t,t,2 baths,2.0,3.0,218.00,0,0,...,224,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67538,f,1.0,t,t,1 bath,1.0,2.0,243.00,3,3,...,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67539,f,0.0,t,t,2 baths,2.0,3.0,306.00,0,0,...,224,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67540,f,1.0,t,t,1 bath,NaN,1.0,70.00,0,0,...,197,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67541,f,24.0,t,t,1 bath,1.0,1.0,98.00,29,59,...,364,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67542,f,24.0,t,t,1 bath,1.0,2.0,131.00,12,42,...,347,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67543,f,1.0,t,f,1 bath,1.0,2.0,79.00,13,42,...,211,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67544,f,0.0,t,f,1 shared bath,1.0,1.0,40.00,0,0,...,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67545,f,2.0,t,t,2.5 baths,1.0,0.0,100.00,1,12,...,133,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67546,f,0.0,t,t,1 shared bath,1.0,NaN,49.49,2,2,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67547,f,1.0,t,t,1 bath,1.0,2.0,57.00,6,10,...,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67548,f,2.0,t,f,1 bath,1.0,1.0,25.00,5,5,...,202,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67549,f,1.0,t,t,1 private bath,1.0,1.0,52.00,0,0,...,204,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67550,f,1.0,t,f,1 bath,1.0,1.0,45.00,0,0,...,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67551,f,0.0,t,t,1 bath,NaN,1.0,48.00,9,25,...,42,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67552,t,2.0,t,t,1 bath,NaN,1.0,72.00,30,60,...,365,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67553,f,49.0,t,t,1 bath,1.0,1.0,126.00,10,10,...,291,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67554,f,1.0,t,t,1 bath,1.0,1.0,65.00,0,12,...,132,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67555,f,1.0,t,f,1 bath,1.0,1.0,79.00,25,44,...,44,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67556,f,3.0,t,t,1 bath,NaN,1.0,51.00,13,30,...,302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67557,f,1.0,t,t,1 private bath,1.0,NaN,65.00,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67558,f,0.0,t,t,1 bath,1.0,1.0,74.00,1,1,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67559,f,156.0,t,t,1.5 baths,NaN,2.0,75.00,28,58,...,363,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67560,f,2.0,t,t,1 bath,NaN,1.0,62.00,19,41,...,151,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67561,f,0.0,t,f,2.5 baths,2.0,2.0,157.00,30,60,...,365,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67562,f,49.0,t,t,1 bath,1.0,1.0,113.00,29,59,...,364,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67563,f,1.0,t,t,1 bath,NaN,1.0,65.00,0,16,...,27,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67564,f,28.0,t,t,1 bath,1.0,2.0,81.00,30,60,...,365,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
# Let's clean those column to make it usable in our model

# Bathrooms_text features returns a string we need to modify to only keep the # of bath
list_modeling['bathrooms_text'] = list_modeling['bathrooms_text'].str.replace(r"[a-zA-Z]",'').str.replace(' ', '').str.replace('-', '')
#replace the bathrooms outlier
list_modeling['bathrooms_text'] = list_modeling['bathrooms_text'].str.replace('50', '5').str.replace('1.5', '1').str.replace('2.5', '2').str.replace('3.5', '3').str.replace('4.5', '4').str.replace('5.5', '5').str.replace('6.5', '6').str.replace('7.5', '7')
list_modeling['bathrooms_text'] = pd.to_numeric(list_modeling['bathrooms_text'], downcast="float")
list_modeling['bathrooms_text'] = list_modeling['bathrooms_text'].fillna(0)

# fill 0 for Nan values in all ratings features
ratings_features = ['review_scores_rating','review_scores_accuracy','review_scores_cleanliness',
                    'review_scores_checkin','review_scores_communication','review_scores_location',
                    'review_scores_value','reviews_per_month']
for col in ratings_features:
    list_modeling[col] = list_modeling[col].fillna(list_modeling[col].mean())
    
# Clean the price features
#list_modeling["price"] = list_modeling["price"].str.replace('[\$\,]|\.\d*', '').astype(int)

# fill 1 for Nan values in bedrooms features
list_modeling['bedrooms'] = list_modeling['bedrooms'].fillna(1)

# fill 1 for Nan values in beds
list_modeling['beds'] = list_modeling['bedrooms'].fillna(1)

# drop the row with null value only 10
list_modeling = list_modeling.dropna(how='any',axis=0)



# Change those features to boolean
list_modeling['host_is_superhost'] = list_modeling['host_is_superhost'].str.replace('t','1').str.replace('f', '0').astype(int)
list_modeling['host_has_profile_pic'] = list_modeling['host_has_profile_pic'].str.replace('t','1').str.replace('f', '0').astype(int)
list_modeling['host_identity_verified'] = list_modeling['host_identity_verified'].str.replace('t','1').str.replace('f', '0').astype(int)

list_modeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67555 entries, 0 to 67564
Data columns (total 21 columns):
host_is_superhost              67555 non-null int64
host_listings_count            67555 non-null float64
host_has_profile_pic           67555 non-null int64
host_identity_verified         67555 non-null int64
bathrooms_text                 67555 non-null float32
bedrooms                       67555 non-null float64
beds                           67555 non-null float64
price                          67555 non-null float64
availability_30                67555 non-null int64
availability_60                67555 non-null int64
availability_90                67555 non-null int64
availability_365               67555 non-null int64
number_of_reviews              67555 non-null int64
review_scores_rating           67555 non-null float64
review_scores_accuracy         67555 non-null float64
review_scores_cleanliness      67555 non-null float64
review_scores_checkin          67555 non-null float64
review_scores_communication    67555 non-null float64
review_scores_location         67555 non-null float64
review_scores_value            67555 non-null float64
reviews_per_month              67555 non-null float64
dtypes: float32(1), float64(12), int64(8)
memory usage: 11.1 MB

In [148]:
# X as all the column of interest except the one we want to predict.
X = list_modeling.loc[:, list_modeling.columns != 'price']
# We want to predict the price so y = price
y = list_modeling['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state=42)

#Instantiate
lm_model = LinearRegression(normalize=True) 

#Fitting the model
lm_model.fit(X_train, y_train) 

#Predict using your model
y_test_preds = lm_model.predict(X_test)
y_train_preds = lm_model.predict(X_train)

#Scoring our model
test_score = r2_score(y_test, y_test_preds)
train_score = r2_score(y_train, y_train_preds)

In [149]:
print(test_score)
print(train_score)

0.07877492745907355
0.07597810404274774

I used the features of the data list that I think best define the price of a listings
Once the linear regression model was run, I obtained an rsquared of 0.078 on the test dataset and 0.075 on the train dataset.
The model explains 7.8% of the price variation in the test dataset and 7.5% in the training dataset.
The results are not satisfactory enough to conclude that a linear regression model with the features thats seems interesting can predict the price of a listing.

# V. Conclusions

Thanks to this analysis, we were able to assess the environment of the Paris Airbnb . We found that some neighbourhoods are more popular on airbnb than others and that this follows a logic adopted long before the creation of airbnb itself where the center will be more exclusive than the surrounding neighbourhoods.
As far as the host are concerned, due to legislation and availability, it was more profitable for them to rent during spring and summer season and to reserve the winter months to carry out all the maintenance necessary for the listings.
Finally, it was noted that the 1st district,Hotel de Ville, was the most appreciated district by tourists, no doubt because of its proximity to many of the cultural and historical places that make Paris.
Finally, I tried unsuccessfully to create a model to predict the price but it seems that a simple linear regression is not enough.